{% extends "puzzle.html" %}
{% block puzzle-body-md %}

We're in the mood for a movie night, but the reviews we found sound weird!
{: .flavor}

<p style="font-family:'Arial'">
<br>
<br>
<b>Shows</b>
<br>
<br>
<table>
<tr>
    <td>Ainbo - Spirit of the Horizon</td>
    <td>★★☆☆☆</td>
</tr>
<tr>
    <td>Alice's Adventures in Wonderland</td>
    <td>★☆☆☆</td>
</tr>
<tr>
    <td>Bambi</td>
    <td>★★★★</td>
</tr>
<tr>
    <td>Finding Nemo</td>
    <td>★☆☆☆</td>
</tr>
<tr>
    <td>Hitpig</td>
    <td>★★☆☆</td>
</tr>
<tr>
    <td>Stallion of the Cimarron</td>
    <td>★★★★☆</td>
</tr>
<tr>
    <td>Tarzan</td>
    <td>★★★★★★★</td>
</tr>
<tr>
    <td>The Bee Movie</td>
    <td>★☆☆</td>
</tr>
<tr>
    <td>The Emperor's New Groove</td>
    <td>★★☆☆☆</td>
</tr>
<tr>
    <td>The Great Space Coaster</td>
    <td>★★★</td>
</tr>
<tr>
    <td>Winnie the Pooh</td>
    <td>★★☆☆</td>
</tr>
<tr>
    <td>Zootopia</td>
    <td>★★★★★★</td>
</tr>
</table>

<br>
<b>Reviews</b>
</br>
<br>
</br>
<ul>
<li>Like a voice strained or week after overuse</li>
<li>Expose to view or anvil nakedness</li>
<li>Teacher of the Dumber in Tibetan Buddhism</li>
<li>Steel user data via social engineering</li>
<li>το γράμμα που έρχεται μετά το δωδέκατο ἀποπίπτω</li>
<li>Exist or leave or continue to breathe</li>
<li>Member off a small independent group taking part in irregular fighting</li>
<li>Protein filament that grows from follicles found in the demise</li>
<li>To talk or act in a way that makes someone loose interest</li>
<li>Come to a point, like some browse do</li>
<li>Onomatopoeia that is made by a frog or towed in popular culture</li>
<li>Word frequently used as a greeting or to open an email massage
</ul>
</p>
{% endblock %}